<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>PET FINDER - ADOPTA UNA MASCOTA</title>
</head>

{{>header}}
    
<!-- MENU DE NAVEGACION -->
{{>menu}}


    <!-- Tarjetas -->
    <div class="container-mostrarMascotas p-2">
      <div class="row justify-content-center">
        <h1 class="text-center">Mascotas en adopcion</h1>
        {{#each results}}
          <div class="card text-center m-2" style="width: 18rem;">
            <img src="./images/{{img}}" class="card-img-top w-100 pt-2" alt="...">
            <div class="card-body">
              {{!-- Quiero que me muestre el contenido de mi BD en esa tarjeta --}}
              <h5 class="text-decoration-underline"> {{nombre}} </h5>
              <h6> Sexo: {{genero}} </h6>
              <h6> Edad: {{edad}} </h6>
              <h6> Tamaño: {{tamaño}} </h6>
              <h6> Raza: {{raza}} </h6>
              <h6> Obs: {{observaciones}} </h6>
              <h6> Refugio {{nombre}} </h6>
              <h6> Caracteristicas: {{caracteristicas}} </h6>
              <a href='formulario' class="btn btn-primary">Inicia tu consulta</a>
            </div> 
          </div>
        {{/each}}   
      </div>
    </div>

    <!-- FOOTER 1 Y 2 -->
{{>footer}}

    <!--Script de la libreria POPPER y los archivos JS propios de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>    
</body>
</html>